/* Mobile Responsive for medium devices */
@media (min-width:481px) and (max-width:768px) {

    .nav {
        display: none;
    }

    .mobileNav a {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 5px 7px 30px;
        display: inline-block;
        background-color: black;
        background-position: 0 2px;
        color: white;
    }

    .home .homeLink,
    .submit .submitLink,
    .upcoming .upcomingLink,
    .worldwide .worldwideLink,
    .about .aboutLink {
        border-bottom: 3px solid #e94447;
        color: #f3f354;
        background-position: 97% 100%;
        padding-right: 15px;
        padding-left: 15px;
        font-weight: bold;
    }

    .mainNav a {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 5px 7px 30px;
        display: block;
        background-color: black;
        background-position: 0 2px;
        color: white;
    }

    .mainNav a:hover {
        font-weight: bold;
        color: #37a233;
        background-color: transparent;
        text-decoration: underline;
        background-position: 3px 50%;
        text-decoration: none;
    }

    .nav {
        margin: 0px;
        padding: 25px;
        list-style: none;
        border-bottom: 3px solid #41a441;
        overflow: hidden;
    }

    .nav a {
        width: 15em;
        text-align: center;
        display: block;
        border: 1px dashed #000;
        border-bottom: none;
        padding: 5px 15px 5px 15px;
        background-color: black;
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .nav li {
        display: inline;
        margin-right: -5px;
        float: left;
        width: 20%;
    }

    nav ul {
        text-decoration: none;
    }


}

/* Mobile Responsive for small devices */

@media (max-width: 480px) {

    .nav {
        display: none;
    }

    .mobileNav a {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 5px 7px 30px;
        display: inline-block;
        background-color: black;
        background-position: 0 2px;
        color: white;
    }

    .home .homeLink,
    .submit .submitLink,
    .upcoming .upcomingLink,
    .worldwide .worldwideLink,
    .about .aboutLink {
        border-bottom: 3px solid #e94447;
        color: #f3f354;
        background-position: 97% 100%;
        padding-right: 15px;
        padding-left: 15px;
        font-weight: bold;
    }

    .mainNav a {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 7px 5px 7px 30px;
        display: block;
        background-color: black;
        background-position: 0 2px;
        color: white;
    }

    .mainNav a:hover {
        font-weight: bold;
        color: #37a233;
        background-color: transparent;
        text-decoration: underline;
        background-position: 3px 50%;
        text-decoration: none;
    }

    .nav {
        margin: 0px;
        padding: 25px;
        list-style: none;
        border-bottom: 3px solid #41a441;
        overflow: hidden;
    }

    .nav a {
        width: 15em;
        text-align: center;
        display: block;
        border: 1px dashed #000;
        border-bottom: none;
        padding: 5px 15px 5px 15px;
        background-color: black;
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    .nav li {
        display: inline;
        margin-right: -5px;
        float: left;
        width: 20%;
    }

    nav ul {
        text-decoration: none;
    }


}

